@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;400;700&display=swap");
main .indexContent .banner img, main .indexContent .cuerpo .cuerpoColumnas .cuerpoColumnasContenido .cuerpoColumnasContenidoImagen img, main .clientesContent .clientesContentAreas .clientesContentAreasTarjeta img, main .empresaContent .empresaContentResena img, main .contactoContent .contactoContentDatosInfo img {
  object-fit: cover;
  width: 100%;
  height: 100%; }

main .indexContent .cuerpo .cuerpoColumnas .cuerpoColumnasTitulo, main .serviciosContent h2, main .empresaContent h2, main .empresaContent .empresaContentCertificados h2 {
  background-color: #58A22E;
  padding: 10px;
  color: whitesmoke;
  margin: 10px 10px 10px 5px;
  text-align: left; }

main .empresaContent .empresaContentResena .importante {
  color: #58A22E;
  font-weight: bold;
  padding: 5px; }

main .empresaContent .empresaContentResena button {
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 20px;
  border: 2px solid #112C0C;
  background: #112C0C; }

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif; }

header {
  background-color: black;
  color: whitesmoke; }
  header .menu {
    top: 0;
    width: 100%;
    background-color: black;
    z-index: 1; }

footer {
  background-color: black;
  bottom: 0;
  height: 60px; }
  footer .contacto {
    padding: 10px;
    background-color: black;
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    footer .contacto .contactoLogo {
      align-items: center;
      width: 100px; }
      footer .contacto .contactoLogo img {
        object-fit: contain;
        width: 100%;
        height: 100%; }
    footer .contacto .redes {
      display: flex;
      width: 100px;
      gap: 0.5rem; }
      footer .contacto .redes img {
        object-fit: contain;
        width: 100%;
        height: 100%; }
  footer h4 {
    text-align: center;
    background-color: black;
    color: whitesmoke;
    font-size: x-small;
    position: bottom; }

@media screen and (min-width: 600px) {
  footer .contacto {
    justify-content: space-around; } }

@media screen and (min-width: 1024px) {
  header {
    background-color: black;
    color: whitesmoke; }
    header .menu {
      top: 0;
      width: 100%;
      background-color: black;
      z-index: 1; }
      header .menu .container-fluid .collapse ul li:hover {
        transform: scale(0.9);
        transition: 500ms;
        color: whitesmoke;
        border-bottom: 10px; }
  footer .contacto .redes .redesCorreo:hover {
    transform: scale(1.1);
    transition: 300ms; }
  footer .contacto .redes .redesWhatsapp:hover {
    transform: scale(1.1);
    transition: 300ms; }
  footer .contacto .redes .redesLinkedin:hover {
    transform: scale(1.1);
    transition: 300ms; }
  footer .contacto .contactoLogo:hover {
    transform: scale(1.1);
    transition: 300ms; } }

main .indexContent .banner img, main .indexContent .cuerpo .cuerpoColumnas .cuerpoColumnasContenido .cuerpoColumnasContenidoImagen img, main .clientesContent .clientesContentAreas .clientesContentAreasTarjeta img, main .empresaContent .empresaContentResena img, main .contactoContent .contactoContentDatosInfo img {
  object-fit: cover;
  width: 100%;
  height: 100%; }

main .indexContent .cuerpo .cuerpoColumnas .cuerpoColumnasTitulo, main .serviciosContent h2, main .empresaContent h2, main .empresaContent .empresaContentCertificados h2 {
  background-color: #58A22E;
  padding: 10px;
  color: whitesmoke;
  margin: 10px 10px 10px 5px;
  text-align: left; }

main .empresaContent .empresaContentResena .importante {
  color: #58A22E;
  font-weight: bold;
  padding: 5px; }

main .empresaContent .empresaContentResena button {
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 20px;
  border: 2px solid #112C0C;
  background: #112C0C; }

main .indexContent .cuerpo .cuerpoColumnas .cuerpoColumnasTitulo h2 {
  text-align: left;
  margin: 10px; }

main .indexContent .cuerpo .cuerpoColumnas .cuerpoColumnasContenido .cuerpoColumnasContenidoTexto .principal {
  font-weight: bold; }

main .indexContent .cuerpo .cuerpoColumnas .cuerpoColumnasContenido .cuerpoColumnasContenidoTexto p {
  text-align: justify;
  margin-right: 5px;
  padding: 5px; }

main .indexContent .cuerpo .cuerpoColumnas .cuerpoColumnasContenido .cuerpoColumnasContenidoTexto .text_PC {
  display: none; }

main .indexContent .cuerpo .cuerpoColumnas .cuerpoColumnasContenido .cuerpoColumnasContenidoImagen img {
  padding: 10px;
  margin: 2px; }

main .indexContent .cuerpo .cuerpoColumnas .cuerpoColumnasContenido .cuerpoColumnasContenidoClientes ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1rem;
  width: 100vw;
  height: 60vh; }
  main .indexContent .cuerpo .cuerpoColumnas .cuerpoColumnasContenido .cuerpoColumnasContenidoClientes ul li {
    list-style: none;
    padding: 10px;
    margin: 5px; }
    main .indexContent .cuerpo .cuerpoColumnas .cuerpoColumnasContenido .cuerpoColumnasContenidoClientes ul li img {
      object-fit: contain;
      width: 20vw;
      height: 100%; }

/*Media Query Tablet*/
@media screen and (min-width: 600px) {
  main .indexContent .cuerpo .cuerpoColumnas .cuerpoColumnasContenido {
    display: grid;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    row-gap: 1rem;
    grid-template-columns: 50% 50%;
    gap: 1rem;
    width: 100vw;
    margin: 10px;
    padding: 10px; }
    main .indexContent .cuerpo .cuerpoColumnas .cuerpoColumnasContenido .cuerpoColumnasContenidoTexto {
      margin: 10px; }
      main .indexContent .cuerpo .cuerpoColumnas .cuerpoColumnasContenido .cuerpoColumnasContenidoTexto p {
        font-size: 20px;
        text-align: center; }
    main .indexContent .cuerpo .cuerpoColumnas .cuerpoColumnasContenido .cuerpoColumnasContenidoImagen {
      margin: 10px; }
      main .indexContent .cuerpo .cuerpoColumnas .cuerpoColumnasContenido .cuerpoColumnasContenidoImagen img {
        object-fit: contain;
        width: 100%;
        height: 100%; }
    main .indexContent .cuerpo .cuerpoColumnas .cuerpoColumnasContenido .cuerpoColumnasContenidoClientes {
      display: flex; }
      main .indexContent .cuerpo .cuerpoColumnas .cuerpoColumnasContenido .cuerpoColumnasContenidoClientes ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
        gap: 1rem;
        padding: 10px;
        margin: 10px; }
        main .indexContent .cuerpo .cuerpoColumnas .cuerpoColumnasContenido .cuerpoColumnasContenidoClientes ul li {
          width: 15vw;
          height: 15vh; }
          main .indexContent .cuerpo .cuerpoColumnas .cuerpoColumnasContenido .cuerpoColumnasContenidoClientes ul li img {
            object-fit: contain;
            width: 100%;
            height: 100%; } }

/* Media Query PC */
@media screen and (min-width: 1024px) {
  main .indexContent .cuerpo .cuerpoColumnas .cuerpoColumnasContenido .cuerpoColumnasContenidoTexto .principal {
    font-weight: bold; }
  main .indexContent .cuerpo .cuerpoColumnas .cuerpoColumnasContenido .cuerpoColumnasContenidoTexto p {
    text-align: justify;
    margin-right: 5px;
    padding: 5px; }
  main .indexContent .cuerpo .cuerpoColumnas .cuerpoColumnasContenido .cuerpoColumnasContenidoTexto .text_PC {
    display: block; } }

main .indexContent .banner img, main .indexContent .cuerpo .cuerpoColumnas .cuerpoColumnasContenido .cuerpoColumnasContenidoImagen img, main .clientesContent .clientesContentAreas .clientesContentAreasTarjeta img, main .empresaContent .empresaContentResena img, main .contactoContent .contactoContentDatosInfo img {
  object-fit: cover;
  width: 100%;
  height: 100%; }

main .indexContent .cuerpo .cuerpoColumnas .cuerpoColumnasTitulo, main .serviciosContent h2, main .empresaContent h2, main .empresaContent .empresaContentCertificados h2 {
  background-color: #58A22E;
  padding: 10px;
  color: whitesmoke;
  margin: 10px 10px 10px 5px;
  text-align: left; }

main .empresaContent .empresaContentResena .importante {
  color: #58A22E;
  font-weight: bold;
  padding: 5px; }

main .empresaContent .empresaContentResena button {
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 20px;
  border: 2px solid #112C0C;
  background: #112C0C; }

main .serviciosContent .serviciosContentSoluciones {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin: 10px;
  padding: 10px; }
  main .serviciosContent .serviciosContentSoluciones h3 {
    margin: 5px;
    padding: 5px;
    font-weight: bold;
    text-align: center; }
  main .serviciosContent .serviciosContentSoluciones p {
    text-align: justify;
    padding: 10px;
    font-size: 1rem; }
  main .serviciosContent .serviciosContentSoluciones .text_PC {
    display: none; }
  main .serviciosContent .serviciosContentSoluciones .serviciosContentSolucionesTarjeta {
    background-color: whitesmoke;
    color: #434141;
    border-radius: .5rem;
    overflow: hidden; }
    main .serviciosContent .serviciosContentSoluciones .serviciosContentSolucionesTarjeta img {
      width: 100%; }
    main .serviciosContent .serviciosContentSoluciones .serviciosContentSolucionesTarjeta .serviciosContentSolucionesTarjetaBody {
      padding: 1rem; }

@media screen and (min-width: 600px) {
  main .serviciosContent .serviciosContentSoluciones {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: auto;
    align-items: stretch;
    margin: 10px;
    gap: 2rem; }
    main .serviciosContent .serviciosContentSoluciones .serviciosContentSolucionesTarjeta {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 40vw;
      gap: 0.5rem; }
    main .serviciosContent .serviciosContentSoluciones .tarjeta_cinco {
      flex-grow: 1; }
  .carousel .carousel-item {
    height: 500px; }
  .carousel-item img {
    position: absolute;
    object-fit: contain;
    top: 0;
    left: 0;
    min-height: 500px; } }

@media screen and (min-width: 1024px) {
  main .serviciosContent .serviciosContentCarrusel .carousel .carousel-inner .carousel-item img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0; }
  main .serviciosContent .serviciosContentSoluciones .serviciosContentSolucionesTarjeta:hover {
    transform: scale(1.1);
    transition: 0.7s; }
  main .serviciosContent .serviciosContentSoluciones .tarjeta_cinco {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 0;
    width: 70vw; } }

main .indexContent .banner img, main .indexContent .cuerpo .cuerpoColumnas .cuerpoColumnasContenido .cuerpoColumnasContenidoImagen img, main .clientesContent .clientesContentAreas .clientesContentAreasTarjeta img, main .empresaContent .empresaContentResena img, main .contactoContent .contactoContentDatosInfo img {
  object-fit: cover;
  width: 100%;
  height: 100%; }

main .indexContent .cuerpo .cuerpoColumnas .cuerpoColumnasTitulo, main .serviciosContent h2, main .empresaContent h2, main .empresaContent .empresaContentCertificados h2 {
  background-color: #58A22E;
  padding: 10px;
  color: whitesmoke;
  margin: 10px 10px 10px 5px;
  text-align: left; }

main .empresaContent .empresaContentResena .importante {
  color: #58A22E;
  font-weight: bold;
  padding: 5px; }

main .empresaContent .empresaContentResena button {
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 20px;
  border: 2px solid #112C0C;
  background: #112C0C; }

main .clientesContent .clientesContentBanner {
  height: 30vh;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-image: url("../img/clientes-banner.jpeg");
  background-size: cover;
  background-repeat: no-repeat; }
  main .clientesContent .clientesContentBanner h1 {
    position: relative;
    text-align: center;
    font-weight: bold;
    color: black;
    text-shadow: 30%;
    background-color: rgba(198, 198, 198, 0.4);
    display: block; }

main .clientesContent .clientesContentResumen p {
  padding: 10px;
  text-align: justify; }

main .clientesContent .clientesContentAreas {
  display: grid;
  align-items: baseline;
  justify-content: center;
  grid-template-columns: repeat(2, 0.5fr);
  grid-template-rows: repeat(2, 0.5fr); }
  main .clientesContent .clientesContentAreas .clientesContentAreasTarjeta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    main .clientesContent .clientesContentAreas .clientesContentAreasTarjeta img {
      margin-left: 30px; }
    main .clientesContent .clientesContentAreas .clientesContentAreasTarjeta ul {
      text-align: center;
      list-style: none;
      line-height: 1.8; }
      main .clientesContent .clientesContentAreas .clientesContentAreasTarjeta ul li {
        padding: 3px; }

@media screen and (min-width: 600px) {
  main .clientesContent .clientesContentResumen p {
    text-align: center; }
  main .clientesContent .clientesContentAreas {
    display: flex;
    align-items: baseline;
    justify-content: center; }
    main .clientesContent .clientesContentAreas .clientesContentAreasTarjeta {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1rem; }
      main .clientesContent .clientesContentAreas .clientesContentAreasTarjeta img {
        align-items: center; }
      main .clientesContent .clientesContentAreas .clientesContentAreasTarjeta ul {
        align-items: center; }
        main .clientesContent .clientesContentAreas .clientesContentAreasTarjeta ul li {
          text-align: center; } }

.clientesContentBanner::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(232, 226, 226, 0.5); }

main .indexContent .banner img, main .indexContent .cuerpo .cuerpoColumnas .cuerpoColumnasContenido .cuerpoColumnasContenidoImagen img, main .clientesContent .clientesContentAreas .clientesContentAreasTarjeta img, main .empresaContent .empresaContentResena img, main .contactoContent .contactoContentDatosInfo img {
  object-fit: cover;
  width: 100%;
  height: 100%; }

main .indexContent .cuerpo .cuerpoColumnas .cuerpoColumnasTitulo, main .serviciosContent h2, main .empresaContent h2, main .empresaContent .empresaContentCertificados h2 {
  background-color: #58A22E;
  padding: 10px;
  color: whitesmoke;
  margin: 10px 10px 10px 5px;
  text-align: left; }

main .empresaContent .empresaContentResena .importante {
  color: #58A22E;
  font-weight: bold;
  padding: 5px; }

main .empresaContent .empresaContentResena button {
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 20px;
  border: 2px solid #112C0C;
  background: #112C0C; }

main .empresaContent .empresaContentBanner {
  height: 30vh;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-image: url("../img/team-banner.jpeg");
  background-size: cover;
  background-repeat: no-repeat; }
  main .empresaContent .empresaContentBanner h1 {
    position: relative;
    text-align: center;
    font-weight: bold;
    color: black;
    text-shadow: 30%;
    background-color: rgba(198, 198, 198, 0.4);
    display: block;
    background-color: rgba(198, 198, 198, 0.4); }

main .empresaContent .empresaContentResena {
  padding: 10px; }
  main .empresaContent .empresaContentResena p {
    text-align: justify;
    font-size: 1rem; }
  main .empresaContent .empresaContentResena button {
    justify-content: end; }

main .empresaContent .empresaContentCertificados section {
  text-align: center;
  margin: 10px;
  padding: 10px;
  font-size: 1.5rem; }

main .empresaContent .empresaContentCertificados .empresaContentCertificadosImagenes {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
  width: 100vw;
  margin: 10px;
  padding: 10px; }
  main .empresaContent .empresaContentCertificados .empresaContentCertificadosImagenes .empresaContentCertificadosImagenesInfo h3 {
    text-align: center;
    margin: 10px;
    font-size: 1rem; }
  main .empresaContent .empresaContentCertificados .empresaContentCertificadosImagenes .empresaContentCertificadosImagenesInfo img {
    width: 100%;
    height: 100%;
    object-fit: scale-down; }

.empresaContentBanner::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(232, 226, 226, 0.5); }

@media screen and (min-width: 600px) {
  main .empresaContent .empresaContentResena {
    display: grid;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    row-gap: 1rem;
    grid-template-columns: 30% 70%; }
  main .empresaContent .empresaContentCertificados .empresaContentCertificadosImagenes {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: stretch;
    justify-content: space-evenly;
    width: 100vw; }
    main .empresaContent .empresaContentCertificados .empresaContentCertificadosImagenes .empresaContentCertificadosImagenesInfo {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 10px;
      padding: 10px;
      width: 40vw; }
      main .empresaContent .empresaContentCertificados .empresaContentCertificadosImagenes .empresaContentCertificadosImagenesInfo img {
        width: 100%;
        height: 100%;
        object-fit: scale-down; } }

@media screen and (min-width: 1024px) {
  main .empresaContent .empresaContentResena {
    padding: 10px; }
    main .empresaContent .empresaContentResena p {
      text-align: justify;
      font-size: 1rem; }
    main .empresaContent .empresaContentResena .text_PC {
      display: block; }
  main .empresaContent .empresaContentCertificados .empresaContentCertificadosImagenes {
    display: flex;
    width: 100vw; }
    main .empresaContent .empresaContentCertificados .empresaContentCertificadosImagenes .empresaContentCertificadosImagenesInfo {
      display: flex;
      width: 20vw; } }

main .indexContent .banner img, main .indexContent .cuerpo .cuerpoColumnas .cuerpoColumnasContenido .cuerpoColumnasContenidoImagen img, main .clientesContent .clientesContentAreas .clientesContentAreasTarjeta img, main .empresaContent .empresaContentResena img, main .contactoContent .contactoContentDatosInfo img {
  object-fit: cover;
  width: 100%;
  height: 100%; }

main .indexContent .cuerpo .cuerpoColumnas .cuerpoColumnasTitulo, main .serviciosContent h2, main .empresaContent h2, main .empresaContent .empresaContentCertificados h2 {
  background-color: #58A22E;
  padding: 10px;
  color: whitesmoke;
  margin: 10px 10px 10px 5px;
  text-align: left; }

main .empresaContent .empresaContentResena .importante {
  color: #58A22E;
  font-weight: bold;
  padding: 5px; }

main .empresaContent .empresaContentResena button {
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 20px;
  border: 2px solid #112C0C;
  background: #112C0C; }

main .contactoContent {
  background-color: #F2F2F2; }
  main .contactoContent .contactoContentBanner {
    height: 30vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-image: url("../img/Contacto-Banner.jpeg");
    background-size: cover;
    background-repeat: no-repeat; }
  main .contactoContent h1 {
    text-align: center;
    margin: 10px;
    padding: 10px; }
  main .contactoContent .contactoContentFormulario {
    height: auto;
    margin: 30px auto;
    border-radius: 10px;
    padding-top: 30px;
    padding-bottom: 20px;
    background-color: #F2F2F2;
    padding-left: 30px; }
    main .contactoContent .contactoContentFormulario h3 {
      font-size: 16px;
      padding-bottom: 30px;
      color: #58A22E;
      text-align: center; }
    main .contactoContent .contactoContentFormulario input {
      background-color: #fbfbfb;
      width: 80vw;
      height: 40px;
      border-radius: 5px;
      border-style: solid;
      border-width: 1px;
      border-color: #58A22E;
      margin-top: 10px;
      padding-left: 10px;
      margin-bottom: 20px; }
    main .contactoContent .contactoContentFormulario textarea {
      background-color: #fbfbfb;
      width: 80vw;
      height: 150px;
      border-radius: 5px;
      border-style: solid;
      border-width: 1px;
      border-color: #58A22E;
      margin-top: 10px;
      padding-left: 10px;
      margin-bottom: 20px;
      padding-top: 15px; }
    main .contactoContent .contactoContentFormulario label {
      display: block;
      float: center; }
    main .contactoContent .contactoContentFormulario button {
      height: 45px;
      padding-left: 5px;
      padding-right: 5px;
      margin-bottom: 20px;
      margin-top: 10px;
      text-transform: uppercase;
      background-color: #58A22E;
      border-color: #58A22E;
      border-style: solid;
      border-radius: 10px;
      width: 90vw;
      cursor: pointer; }
    main .contactoContent .contactoContentFormulario button p {
      color: #fff;
      padding-top: 7px; }
    main .contactoContent .contactoContentFormulario span {
      color: #58A22E; }
    main .contactoContent .contactoContentFormulario .aviso {
      font-size: 13px;
      color: #0e0e0e; }
    main .contactoContent .contactoContentFormulario p {
      font-size: 14px;
      color: #0e0e0e; }
  main .contactoContent .contactoContentDatosUbicacion {
    display: flex;
    height: 60vh;
    margin: 10px;
    padding: 10px; }
  main .contactoContent .contactoContentDatosInfo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 1fr;
    height: auto;
    margin: 10px;
    padding: 10px; }
    main .contactoContent .contactoContentDatosInfo img {
      width: 100px;
      height: 100px; }
    main .contactoContent .contactoContentDatosInfo p {
      font-size: 0.75em;
      text-align: center; }
    main .contactoContent .contactoContentDatosInfo .contactoContentDatosInfoUbicacion {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
    main .contactoContent .contactoContentDatosInfo .contactoContentDatosInfoTelefono {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
    main .contactoContent .contactoContentDatosInfo .contactoContentDatosInfoCorreo {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }

@media screen and (min-width: 600px) {
  main .contactoContentFormulario {
    display: flex;
    align-items: center;
    justify-content: center; }
  main .contactoContentDatos {
    display: grid;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    row-gap: 1rem;
    grid-template-columns: 70% 30%; }
    main .contactoContentDatos .contactoContentDatosInfo {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
    main .contactoContentDatos .contactoContentDatosUbicacion {
      width: 100%;
      height: 80vh; } }

@media screen and (min-width: 1024px) {
  .contactoContentFormularioGrupo .separacion {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    gap: 2rem;
    align-items: top; }
    .contactoContentFormularioGrupo .separacion .contactoContentFormularioGrupoSup input {
      width: 400px; }
    .contactoContentFormularioGrupo .separacion .contactoContentFormularioGrupoSup textarea {
      width: 400px; }
    .contactoContentFormularioGrupo .separacion .contactoContentFormularioGrupoInf input {
      width: 400px; }
    .contactoContentFormularioGrupo .separacion .contactoContentFormularioGrupoInf textarea {
      width: 400px; }
    .contactoContentFormularioGrupo .separacion .contactoContentFormularioGrupoInf button {
      width: 400px; } }

.contactoContentBanner::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(232, 226, 226, 0.1); }

.formulario input:focus {
  outline: 0;
  border: 1px solid #97d848; }

.formulario textarea:focus {
  outline: 0;
  border: 1px solid #97d848; }
