//Utilidades
@import "../utilidades/variables";
@import "../utilidades/mixin";
@import "../utilidades/extend";

main{
    .clientesContent{
        .clientesContentBanner{
            @include banner("../img/clientes-banner.jpeg");
            h1{
            @include banner_titulo;
            display: block;
            }
        }
        .clientesContentResumen{
            p{
                padding: 10px;
                text-align: justify;
            }
        }
        .clientesContentAreas{
            display: grid;
            align-items: baseline;
            justify-content: center;
            grid-template-columns: repeat(2,0.5fr);
            grid-template-rows: repeat(2,0.5fr);
            .clientesContentAreasTarjeta{
                @include flex_vertical;
                img{
                @extend %imagenes;
                margin-left: 30px;
                }
                ul{
                    text-align: center;
                    list-style: none;
                    line-height: 1.8;
                    li{
                        padding: 3px;
                    }
                }
            }

        }
    }
}

@include tablet{
    main{
        .clientesContent{
            .clientesContentResumen{
                p{
                    text-align: center;
                }
            }
            .clientesContentAreas{
                display: flex;
                align-items: baseline;
                justify-content: center;
                .clientesContentAreasTarjeta{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    gap: 1rem;
                    
                    img{
                        align-items: center;
                        
                    }
                    ul{
                        align-items: center;
                        li{
                            text-align: center;
                        }
                    }
                }
            }

        }
    }                
}


.clientesContentBanner::before{
    @include banner_trasparencia;
    background-color: rgba(232, 226, 226, 0.5);
}