//Utilidades
@import "../utilidades/variables";
@import "../utilidades/mixin";
@import "../utilidades/extend";

main{
    .clientesContent{
        .clientesContentBanner{
            @include banner("../img/clientes-banner.jpeg");
            h1{
            @include banner_titulo;
            }
        }
        .clientesContentResumen{
            p{
                padding: 10px;
                text-align: justify;
            }
        }
        .clientesContentAreas{
            display: grid;
            align-items: baseline;
            justify-content: center;
            grid-template-columns: repeat(2,0.5fr);
            grid-template-rows: repeat(2,0.5fr);
            img{
            @extend %imagenes;
            }
            ul{
                text-align: center;
                list-style: none;
            }
        }
    }
}

.clientesContentBanner::before{
    @include banner_trasparencia;
    background-color: rgba(232, 226, 226, 0.5);
}