//Utilidades
@import "../utilidades/variables";
@import "../utilidades/mixin";
@import "../utilidades/extend";

main {
    
    .contactoContent{
        background-color: $color-fondo;   
        .contactoContentBanner{
            @include banner("../img/Contacto-Banner.jpeg");
        }
        h1{
            text-align: center;
            margin: 10px;
            padding: 10px;
        }
       .contactoContentFormulario{
        
            height: auto;
            margin: 30px auto;
            border-radius: 10px;  
            padding-top: 30px;
            padding-bottom: 20px;  
            background-color: $color-fondo; 
            padding-left: 30px; 
            h3{
                font-size: 16px; 
                padding-bottom: 30px;
                color: $color-principal;
                text-align: center;   
            }
            input{
                background-color: #fbfbfb; 
                width: 80vw; 
                height: 40px; 
                border-radius: 5px;  
                border-style: solid; 
                border-width: 1px; 
                border-color: $color-principal; 
                margin-top: 10px;  
                padding-left: 10px;
                margin-bottom: 20px; 
            }
            textarea{
                background-color: #fbfbfb; 
                width: 80vw; 
                height: 150px; 
                border-radius: 5px;  
                border-style: solid; 
                border-width: 1px; 
                border-color: $color-principal; 
                margin-top: 10px;  
                padding-left: 10px;
                margin-bottom: 20px; 
                padding-top: 15px; 
              }
            label{
            display: block; 
            float: center;  
            }
            button{
                height: 45px; 
                padding-left: 5px;
                padding-right: 5px;   
                margin-bottom: 20px; 
                margin-top: 10px;   
                text-transform: uppercase;
                background-color: $color-principal; 
                border-color: $color-principal; 
                border-style: solid; 
                border-radius: 10px;  
                width: 90vw;   
                cursor: pointer;
                
              }    
            button p{
            color: #fff;
            padding-top: 7px;
            }
            span{
                color: $color-principal 
              }
            .aviso{
            font-size: 13px;  
            color: #0e0e0e;  
            }
            p{
            font-size: 14px; 
            color: #0e0e0e; 
            }  

        }
        .contactoContentDatosUbicacion{
            display: flex;
            height: 60vh;
            margin: 10px;
            padding: 10px;
        }
        .contactoContentDatosInfo{
            @include flex;
            width: 1fr;
            height: auto;
            
            margin: 10px;
            padding: 10px;
            img{
                @extend %imagenes;
                width: 100px;
                height: 100px;
            }
            p{
                font-size: 0.75em;
                text-align: center;

            }
            
            .contactoContentDatosInfoUbicacion{
                @include flex_vertical;
            }
            .contactoContentDatosInfoTelefono{
                @include flex_vertical;
            }
            .contactoContentDatosInfoCorreo{
                @include flex_vertical;
            }
        } 
    }
}

@include tablet{
main {
        .contactoContentFormulario{
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .contactoContentDatos{
                @include grid;
                grid-template-columns: 70% 30%;
                .contactoContentDatosInfo{
                @include flex_vertical;    
                }
            .contactoContentDatosUbicacion{
                width: 100%;
                height: 80vh;
            }
        }
    }
               
}

@include PC{
    .contactoContentFormularioGrupo{
        .separacion{
            display: grid;
            grid-template-columns: repeat(2,50%);
            
            gap: 2rem;
            align-items: top;
            .contactoContentFormularioGrupoSup{
                input{
                    width: 400px;
                }
                textarea{
                    width: 400px;
                }    
            }
            .contactoContentFormularioGrupoInf{
                input{
                    width: 400px;
                }
                textarea{
                    width: 400px;
                }
                button{
                    width: 400px;
                }    
            }
    
        }
    }
    
}


.contactoContentBanner::before{
    @include banner_trasparencia;
    background-color: rgba(232, 226, 226, 0.1);
}

.formulario input:focus{
    outline:0;
    border: 1px solid #97d848;
  }
  
  
  .formulario textarea:focus{
    outline:0;
    border: 1px solid #97d848;
  }