//Utilidades
@import "../utilidades/variables";
@import "../utilidades/mixin";
@import "../utilidades/extend";

main{
    .empresaContent{
        .empresaContentBanner{
            @include banner("../img/team-banner.jpeg");
            h1{
                @include banner_titulo;
                display: block;
                background-color: rgba(198, 198, 198, 0.4);
            }
        }
        h2{
            @extend %titulos;
        }
        .empresaContentResena{ 
            padding: 10px;
            p{
                text-align: justify;
                font-size: 1rem;
            }
            img{
                @extend %imagenes;
            }
            .text_PC{
                
            }
            .importante{
                @extend %importante;
            }
            button{
                @extend %btn;
                justify-content: end;
                
            }
        }
        .empresaContentCertificados{
            h2{
                @extend %titulos;
            }
            section{
                text-align: center;
                margin: 10px;
                padding: 10px;
                font-size: 1.5rem;
            }
            .empresaContentCertificadosImagenes{
                
                @include flex;
                    flex-wrap: wrap;
                    width: 100vw;
                    margin: 10px;
                    padding: 10px;
                    .empresaContentCertificadosImagenesInfo{
                    h3{
                        text-align: center;
                        margin: 10px;
                        font-size: 1rem;
                    }
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: scale-down;
                    }
                }    
            }        
            
        }
    }
}

.empresaContentBanner::before{
    @include banner_trasparencia;
    background-color: rgba(232, 226, 226, 0.5);
}

@include tablet{
main{
    .empresaContent{
        .empresaContentResena{
            @include grid;
            grid-template-columns: 30% 70%;
        
        }
        
        .empresaContentCertificados
        {
            .empresaContentCertificadosImagenes{
                display: flex;
                flex-wrap: wrap;
                gap: 1rem;
                align-items: stretch;
                justify-content: space-evenly;
                width: 100vw;
                
                
                
                .empresaContentCertificadosImagenesInfo{
                    @include flex_vertical;
                    margin: 10px;
                    padding: 10px;
                    width: 40vw;
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: scale-down;
                    }
                }
            }
        }
    }
}    
}

@include PC{
    main{
        .empresaContent{
            .empresaContentResena{ 
                padding: 10px;
                p{
                    text-align: justify;
                    font-size: 1rem;
                }
                .text_PC{
                    display: block;
                }
            }
            .empresaContentCertificados{    
                .empresaContentCertificadosImagenes{
                    display: flex;
                    width: 100vw;
                    .empresaContentCertificadosImagenesInfo{
                        display: flex;
                        width: 20vw;
                    }
                }
            }    
        }
    }           
}
