//Utilidades
@import "../utilidades/variables";
@import "../utilidades/mixin";
@import "../utilidades/extend";


main{
    .indexContent{
       
        .banner img{
            @extend %imagenes;
        }
        .cuerpo{
            .cuerpoColumnas{
                    .cuerpoColumnasTitulo{
                    @extend %titulos;
                    h2{
                        text-align: left;
                        margin: 10px;
                    }
                }
                .cuerpoColumnasContenido{
                    .cuerpoColumnasContenidoTexto{
                        .principal{
                            font-weight: bold;
                        }
                        p{
                            text-align: justify;
                            margin-right: 5px;
                            padding: 5px;
                        }
                        .text_PC{
                            display: none;
                        }
                    }
                    .cuerpoColumnasContenidoImagen {
                        img{
                            @extend %imagenes;
                            padding: 10px;
                            margin: 2px;
                        }
                    }
                    .cuerpoColumnasContenidoClientes{
                        display: grid;
                        grid-template-columns: repeat(3,1FR);
                        grid-template-rows: repeat(2,1FR);
                        gap: 1rem;
                        
                        .logo{
                            padding: 10px;
                            margin: 2px;
                            img{
                                object-fit: contain;
                                width: 100%;
                                height: 100%;
                            }
                        }
                    }

                }
            }
        }
    }
}

/*Media Query Tablet*/
@include tablet {
main{
    .cuerpoColumnas{
        .cuerpoColumnasContenido{
            @include grid;
            grid-template-columns: repeat(2,1FR);
            align-items: center;
            .cuerpoColumnasContenidoTexto{
                p{
                    font-size: 20px;
                    text-align: center;
                }
            }
            .cuerpoColumnasContenidoImagen {
                img{
                    object-fit: contain;
                    width: 100%;
                    height: 100%;
                }
            }
            .cuerpoColumnasContenidoClientes{
                .logo{
                    img{
                        object-fit: contain;
                        width: 70%;
                        height: 70%;
                    }
                }
            }
        }
        
    }
}    

}

/* Media Query PC */
@include PC{
    main{
        .indexContent{
            .cuerpo{
                .cuerpoColumnas{
                    .cuerpoColumnasContenido{
                        .cuerpoColumnasContenidoTexto{
                            .principal{
                                font-weight: bold;
                            }
                            p{
                                text-align: justify;
                                margin-right: 5px;
                                padding: 5px;
                            }
                            .text_PC{
                                display: block;
                            }
                        }
                    }
                }
            }
        }
    }                        
}