//Utilidades
@import "../utilidades/variables";
@import "../utilidades/mixin";
@import "../utilidades/extend";


main{
    .indexContent{
       
        .banner img{
            @extend %imagenes;
        }
        .cuerpo{
            .cuerpoColumnas{
                    .cuerpoColumnasTitulo{
                    @extend %titulos;
                    h2{
                        text-align: left;
                        margin: 10px;
                    }
                }
                .cuerpoColumnasContenido{
                    .cuerpoColumnasContenidoTexto{
                        
                        .principal{
                            font-weight: bold;
                        }
                        p{
                            text-align: justify;
                            margin-right: 5px;
                            padding: 5px;
                        }
                        .text_PC{
                            display: none;
                        }
                    }
                    .cuerpoColumnasContenidoImagen {
                        img{
                            @extend %imagenes;
                            padding: 10px;
                            margin: 2px;
                        }
                    }
                    .cuerpoColumnasContenidoClientes{
                        // display: grid;
                        // grid-template-columns: repeat(3,1FR);
                        // grid-template-rows: repeat(2,1FR);
                        ul{
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-around;
                        gap: 1rem;
                        width: 100vw;
                        height: 60vh;
                        
                            li{
                                list-style: none;
                                padding: 10px;
                                margin: 5px;
                                img{
                                    object-fit: contain;
                                    width: 20vw;
                                    height: 100%;
                                }
                            
                            }
                        }
                    }

                }
            }
        }
    }
}

/*Media Query Tablet*/
@include tablet {
main{
    .cuerpoColumnas{
        .cuerpoColumnasContenido{
            @include grid;
            grid-template-columns: 50% 50%;
            gap: 1rem;
            width: 100vw;
            margin: 10px;
            padding: 10px;
            .cuerpoColumnasContenidoTexto{
                margin: 10px;
                p{
                    font-size: 20px;
                    text-align: center;
                }
            }
            .cuerpoColumnasContenidoImagen {
                margin: 10px;
                img{
                    object-fit: contain;
                    width: 100%;
                    height: 100%;
                }
            }
            .cuerpoColumnasContenidoClientes{
                display: flex;
                flex-wrap: wrap;
                ul{
                    flex-direction: column;
                    justify-content: center;
                    gap: 1rem;
                    // width: 20vw;
                    // height: 60vh;
                    li{
                        width:100px;
                        height: 100px;
                        img{
                            object-fit: cover;
                            width: 100%;
                            height: 100%;
                        }    
                    }
                }
            }
        }
        
    }
}    

}

/* Media Query PC */
@include PC{
    main{
        .indexContent{
            .cuerpo{
                .cuerpoColumnas{
                    .cuerpoColumnasContenido{
                        .cuerpoColumnasContenidoTexto{
                            .principal{
                                font-weight: bold;
                            }
                            p{
                                text-align: justify;
                                margin-right: 5px;
                                padding: 5px;
                            }
                            .text_PC{
                                display: block;
                            }
                        }
                    }
                }
            }
        }
    }                        
}