//Utilidades
@import "../utilidades/variables";
@import "../utilidades/mixin";
@import "../utilidades/extend";


main {
    .serviciosContent{
        h2{
            @extend %titulos;
        }
        .serviciosContentSoluciones{
            @include flex_vertical;
            gap: 2rem;
            margin: 10px;
            padding: 10px;
            h3{
               margin: 5px;
               padding: 5px;
               font-weight: bold;
               text-align: center; 
            }
            p{
                text-align: justify;
                padding: 10px;
                font-size: 1rem;
            }
            .text_PC{
                display: none;
            }
            .serviciosContentSolucionesTarjeta{
                
                background-color: whitesmoke;
                color: rgb(67, 65, 65);
                border-radius: .5rem;
                overflow: hidden;
                img{
                    width: 100%;
                }
                .serviciosContentSolucionesTarjetaBody{
                    padding: 1rem;
                }
            }
        }
    }
}

@include tablet{
    main{
        .serviciosContent{
            .serviciosContentSoluciones{
            display:flex;
            flex-direction: row;
            flex-wrap: wrap;
            width: auto;
            align-items: stretch;
            margin: 10px;
            .serviciosContentSolucionesTarjeta{
                @include flex_vertical;
                width: 40vw;
                
                gap: 0.5 rem;

            }
                .tarjeta_cinco{
                flex-grow: 2; 
                }
            }

        }
    }
    .carousel .carousel-item {
        height: 500px;
      }
      
      .carousel-item  img {
          position: absolute;
          object-fit: contain;
          top: 0;
          left: 0;
          min-height: 500px;
          }
}

@include PC{
    
    .carousel .carousel-item {
        height: 650px;
      }
      
      .carousel-item  img {
          min-height: 500px;
          }    
}