// Paleta de Colores

$color-principal: #58A22E;
$color-secundario: #112C0C;
$color-fondo: #F2F2F2;
$color-headers: #0D0D0D;


//Color Botones

$color-btn-principal: #A3431D;
$color-btn-secundario: #3E48A3;





